{% load static %}
<aside class="sidebar-fixed">
    <div class="sidebar-content">
        <div class="character-area">
            <div class="character-image">
                <img src="{% static 'img/kawada.png' %}" alt="川田先生" id="kawada-character">
            </div>
        </div>
        
        <h5 class="sidebar-heading">
            <span>クイックメニュー</span>
        </h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'typing' %}active{% endif %}" href="{% url 'typing:index' %}">
                    🐟 かわ打
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'chat' %}active{% endif %}" href="{% url 'chat:index' %}">
                    📖 勉強
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'quiz' %}active{% endif %}" href="{% url 'quiz:index' %}">
                    💾 SQL
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'linux' %}active{% endif %}" href="{% url 'linux:index' %}">
                    🐧 Linux
                </a>
            </li>
        </ul>
    </div>
</aside>
