{% load static %}
<aside class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <div class="text-center">
            <img src="{% static 'img/kawada.png' %}" alt="川田先生" id="kawada-character" class="img-fluid rounded-circle mb-3" style="width: 100px;">
            <h4>川田先生</h4>
        </div>
        
        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>クイックメニュー</span>
        </h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'typing' %}active{% endif %}" href="{% url 'typing:index' %}">
                    🐟 かわ打
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'chat' %}active{% endif %}" href="{% url 'chat:index' %}">
                    📖 勉強
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'quiz' %}active{% endif %}" href="{% url 'quiz:index' %}">
                    💾 SQL
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'linux' %}active{% endif %}" href="{% url 'linux:index' %}">
                    🐧 Linux
                </a>
            </li>
        </ul>
    </div>
</aside>
